/*Admin-style*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,100&display=swap');
a.navbar-brand.brand{
  font-family: 'Raleway', sans-serif;
  font-size: 22px; 
  color:#252525;
}


.btn-close {
  box-sizing: content-box;
  width: 1.2em;
  height: 1.2em;
  padding: 0.25em 0.25em;
  color: #a7a7a7 !important;

}
.btn-close {
  filter: invert(1) opacity(0.7);
}
.btn-close:hover {
  filter: invert(1) opacity(0.9);
}

button {
  border: 1px solid #5e6266db;
  border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  padding: 4px 8px;
}

button:hover {
  background-color: #e0e0e0;
}

.btn {
  background-color: rgb(71, 71, 71)!important;
  color: rgb(252, 252, 252)!important;
  border: 1px solid #5e6266db;
  border-radius: 2px;
}

.btn:hover, .btn:focus {
  background-color: rgb(166, 164, 164)!important;
  color: rgb(52, 52, 52)!important;
}
.btn-primary {
  background-color: #2e4d61;
  border-color: #2e4d61;
  border: 1px solid #5e6266db;
  border-radius: 2px;
}

.btn-primary:hover {
  background-color: #3f5a6b;
  border-color: #3f5a6b;
}

.btn-primary:focus {
  background-color: #4c5d68;
  border-color: #4c5d68;
  box-shadow: 0 0 0 0.2rem rgba(51, 55, 63, 0.315);
}

.btn-primary:active {
  background-color: #4c5d68;
  border-color: #4c5d68;
  border: 1px solid #5e6266db;
  border-radius: 2px;
}

.btn-primary:active:focus {
  background-color: #4c5d68;
  border-color: #4c5d68;
  box-shadow: 0 0 0 0.2rem rgba(51, 55, 63, 0.315);
} 
 
.page-link {
  background-color: rgb(71, 71, 71)!important;
  color: rgb(252, 252, 252)!important;
}

.page-link:hover, .page-link:focus {
  background-color: rgb(166, 164, 164)!important;
  color: rgb(52, 52, 52)!important;
}
.btn-group .btn {
  background-color: rgb(71, 71, 71)!important;
  color: rgb(252, 252, 252)!important;
  border: 1px solid #5e6266db;
  border-radius: 2px;
}

.btn-group .btn:hover, .btn-group .btn:focus {
  background-color: rgb(166, 164, 164)!important;
  color: rgb(52, 52, 52)!important;
}
.form-control{
  border: 1px solid #5e6266db !important;
  border-radius: 2px;
}
input {
  border: 1px solid #5e6266db !important;
  border-radius: 2px;
}

input:focus {
  outline: none!important;
  box-shadow: 0 1px 5px #5e6266db !important;

}
select {
  border: 1px solid #5e6266db!important;
  border-radius: 2px !important;
}

select:focus {
  outline: none!important;
  box-shadow: 0 1px 5px #5e6266db !important;

}
.select:focus,.input:focus{
  outline: none!important;
  border: 1px solid #5e6266db !important;

}

textarea:focus {
  outline: none!important;
  box-shadow: 0 1px 5px #5e6266db !important;

}
.textarea:focus,.textarea:focus{
  outline: none!important;
  background-color: rgb(71, 71, 71)!important;
  border: 1px solid #5e6266db !important;

}
.accordion-button.collapsed {
  outline: none!important;
  box-shadow: 0 1px 5px #5e6266db !important;
}

.accordion-button.collapsed:hover {
  outline: none!important;
  background-color: rgb(239, 239, 239)!important;
  box-shadow: 0 1px 5px #5e6266db !important;
}

.accordion-button.collapsed:focus {
  outline: none!important;
  box-shadow: 0 1px 5px #5e6266db !important;
}
.accordion-button:not(.collapsed) {
  background-color: rgb(240, 240, 240)!important;
  color: #444444;
  outline: none!important;
  box-shadow: 0 1px 5px #5e6266db !important;
}
