RewriteEngine On

# Redirect 
RewriteRule ^login$ login.php [L]
RewriteRule ^register$ register.php [L]
RewriteRule ^myaccount$ myaccount.php [L]

# Existing rules
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]

# Security settings
Options -Indexes
ErrorDocument 403 /404.php

Header always set X-Content-Type-Options "nosniff"
Header always set X-XSS-Protection "1; mode=block"
