@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
.admin-layout{
  min-height: 100vh;
  margin-bottom: 20px;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    width: 50%;
}
.clear-button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}
.search-input-long {
    width: 100%; 
}
#rows {
  cursor: pointer;
}
#rows:hover {
  background-color: #f8f9fa;
}
#rows option {
  color: #495057;
}
#rows option:hover {
  background-color: #e9ecef;
}
