.highlight {
    border: 1px dashed rgb(37, 232, 23);
   cursor:move;
}

.highlight-post {
    border: 1px dashed rgba(52, 76, 237, 0.781);
}
#add-btn {
    font-size: 0;
    padding: 0;
    border: none !important;
    background: transparent !important;
    background-image: none !important;
    outline: none !important;
}
#add-btn,
#add-btn:focus, 
#add-btn:hover, 
#add-btn:active {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.myDropdown {
    position: relative;
    display: inline-block;
}

.myDropdown-menu {
    display: none;
    position: absolute;
    background-color: #f6f7f8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    border:1px solid #789546;
    height:auto;
   
}
.myDropdown {
    position: relative; /* jei jau nėra */
}

.add-link {
    position: relative; /* jei jau nėra */
    z-index: 1000; /* nustatykite reikšmę, kuri yra didesnė nei kitų elementų z-index */
}
.myDropdown-menu button {
    color: rgb(41, 41, 41);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
}

.myDropdown-menu button:hover {
    background-color: #ebf4fa;
    
    color: rgb(52, 50, 56);
}
button.add-link{
    background: transparent;

    
    border: none !important;
}
button.add-link:hover{
    background: transparent;
}

#addons-menu{display: none;} 
#addons-menu:hover{  color: rgb(52, 50, 56);} 
button.add-option-btn.dropdown-item.addons-button{  color: rgb(52, 50, 56);   font-weight: bold;} 