.profile-picture-container {
    width: 45px;
    height: 45px;
    border: 2px solid rgba(211, 211, 211, 0.504);
    border-radius: 50%;
    overflow: hidden;
    margin: -1px;
}

.profile-picture-container .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

  button.navmenubutton {
    height: 47px;
    padding: 1px 1px 0px 9px;
    width: 155px;
}
  .user-profile {
    display: flex;
    align-items: center; /* Centravimas ašyje */
    justify-content: space-between; /* Tarpas tarp elementų */
  }
  
  .profile-picture {
    margin-left: 0px; /* Priderkite kairiojo tarpelio, jei reikia */
  }
  .dropdown-toggle::after {
    vertical-align: 1.80em;  /* Vertikaliai pakelia rodyklę. Standartinė Bootstrap reikšmė yra .255em. Mažesnė reikšmė pakelia rodyklę aukščiau. */
    border-top: .2em solid; /* Kontroliuoja rodyklės dydį */
}
