@import url('profile.css');

html, body {
  display: flex;
  min-height: 100vh;
  
  flex-direction: column;
}
.spacer{
  margin-top: 140px;
}
.header {
  width: 100%;
  margin-top: 94px;
  top:7px;
  position: relative;
}
.no-header{
  margin-top: 0px;
}
.footer{
  margin-top:40px;
  bottom: 0;
}
main {
  top: 55px;
  margin-bottom:40px;
  height: calc(100vh + 40px);
  flex:1;
}
.main {
  position: relative;
}
.nav-item {
  font-weight: 200; 
  letter-spacing: 0.05em; 
  text-transform:capitalize; 
  text-decoration: none;
  font-size:20px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

  .grid-syst {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }
.span-col-3{grid-column: span 3 / auto;}
.span-row-2{grid-row: span 2 / auto;}
.span-row-3{grid-row: span 3 / auto;}
.box-header {
  width: 100%;
  height: calc(100vh - 55px);
  padding-left: 3%;
  background-position: center;
  background-size: cover;
  transition: background-image 0.5s ease;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.colll{
  background: rgba(255, 255, 255, 0.796); 
  color: rgba(50, 63, 86, 0.544);
}
.box-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.173); 
  z-index: 1; 
  pointer-events: none;
}


.header__content p {
font-size: 20px; 
}

.header__content {
text-align: left;
}

.header__title {
margin-bottom: 10px;
font-size: 54px;
}

.header__text {
margin-bottom: 20px;
font-size: 16px;
}

.boxes {
  top: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 50%;
}

.box {
  min-height: 200px;
  padding: 20px 15px 19px 25px;
  border-radius: 3px;
  border: 0px solid rgb(155, 193, 250);
  margin: 10px 0; 
  width: 100%
}

.box__title {
margin-bottom: 10px;
font-size: 20px;
}

.box__text {
margin-bottom: 20px;
font-size: 14px;
}
.box__link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  }
  a.box__link.linkbox  {
    cursor: pointer;
    position: relative;
    z-index: 2;
    }

.box__link:hover {
color: #ddd;
}
.btn {
display: inline-block;
padding: 18px 34px;
border-radius: 1px;
text-decoration: none;
transition: background-color 0.5s ease;
}

nav.navbar {
  padding: 0rem 2.2rem !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  .navbar-brand,
  .navbar-menu a {
    transition: all 0.5s ease;
  }
    .navbar-toggle {
      display: none;
    }
    .navbar-menu {
      display: flex;
      justify-content: flex-end; 
    }

    .navbar{
    justify-content: space-between;
    padding: 20px 5px;
    transition: background 0.5s ease-in-out, height 0.5s ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    height: 101px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    z-index: 1000;
    }
    .navbar-logo {
    font-size: 24px;
    }

    .navbar-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    }

    .nav-up {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    }

    .navbar::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1; 
      background: rgb(255, 255, 255);
      background: linear-gradient(180deg, rgb(249, 249, 249) 0%, rgba(255, 255, 255, 0.859) 1%, rgba(205,205,205,0.891281512605042) 98%, rgba(177,178,180,1) 100%);
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }

    .navbar-menu a {
      margin-right: 20px;
    }
  }
  
  @media screen and (max-width: 769px) {
      [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
          cursor: pointer;
          top: 10px;
      }
  nav.navbar {
  padding: 0.58rem 0rem !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
   }
    .navbar-brand,
  .navbar-menu a {
    transition: all 0.5s ease;
  }
    .navbar-header {
      display: table-row;
    width: 100%;
    float: right;
    }
    
    .navbar-brand {
      margin: 12px 1px 11px 20px;
    padding: 10px 3px 10px 6px;
    }
    
    .navbar-toggle {
      background-color: transparent;
      border: none;
      right: 14px;
      display: inline;
      position: absolute;
      width: auto;
  
    }
    .navbar-menu {
      position: absolute;
      top: 90px;
      left: -100%;
      width: 100%;
      height: calc(100% - 60px);
      transition: all 0.3s ease-in-out;
      background-color: rgba(255, 253, 253, 0.91);
      display: table;
      z-index: 9999;
    }
    
    .navbar-menu.active {
      display: table;
      left: 0%;
      padding:  0.2rem 0.2rem 0.2rem 0.2rem;
    }
    
    .navbar-toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px;
    }
    
    .navbar-menu a {
      display: block;
      padding: 15px;
      font-size: 24px;
      color: #3e3e3e;
    }
    
    .navbar {
        background: rgb(255, 255, 255);
      background: linear-gradient(180deg, rgb(249, 249, 249) 0%, rgba(255, 255, 255, 0.859) 1%, rgba(205,205,205,0.891281512605042) 98%, rgba(177,178,180,1) 100%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 5px;
      transition: background 0.5s ease-in-out, height 0.5s ease-in-out;
    }
    
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background-color: #ffffff;
    }
    
    .cross.bar1 {
      transform: translateY(8px) rotate(45deg);
    }
    
    .cross.bar2 {
      opacity: 0;
    }
    
    .cross.bar3 {
      transform: translateY(-8px) rotate(-45deg);
    }
    
    .navbar-toggle.active .bar1 {
      transform: rotate(45deg) translate(5px, 6px);
    }
    
    .navbar-toggle.active .bar2 {
      transform: rotate(-45deg) translate(5px, -6px);
    }

   nav.navbar-shrink {
    height: 80px;
    justify-content: space-between;
      align-items: center;
      padding: 20px 5px;
      transition: background 0.5s ease-in-out, height 0.5s ease-in-out;
   }
   .navbar-brand {
      padding-top: 4px !important; 
      padding-bottom: 0px !important; 
      margin-right: 0px !important; 
      font-size: 18px !important; 
      color: #FFFFFF !important; 
      text-decoration: none; 
      white-space: nowrap; 
  }
}


@media (min-width: 992px) {
  .header {
     margin-bottom: 80px;
    flex-direction: row;
    justify-content: space-between;
    
  }

  .header__content {
    width: 100%;
    margin-top: 110px;
  }

  .boxes { 
    position: absolute;
    right: 30px;
  }
    
  .box { 
    width: 100%
  }
}
  @media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }


  .header__content {
    width: 100%;
    margin-top: 110px;
  }

  .boxes { 
    right: 30px;
  }
    
  .box { 
    width: 100%
  }
}


@media (min-width: 769px) and (max-width: 991px) {
    .header {
    position: relative;
    width: 100%;
    height: calc(73vh + 54px);
    margin-bottom: 40px;
    top: 0px;
  }
    .box-header {
    position: absolute;
    width: 100%;
    height: calc(73vh + 54px);
    margin-bottom: 40px;
    top: 6px;
  }
 
  .header__content {
    text-align: left;
    margin-top: 60px;
    width: 60%;
  }
  .boxes {
    position: absolute;
    align-items: flex-end;
    margin-left: 30px;
    right: 0px;
    width: 55%;
    top: 10px;
  }
  .box { 
    width: 70%;  right: 10px;
   
  }
}
@media (min-width: 576px) and (max-width: 769px) {
    .header {
    position: relative;
    width: 100%;
    height: calc(86vh + 266px);
    padding-left: 2%;
    padding-bottom: 23px;
    top:0px;
  }
  .boxes.col-lg-4.col-md-12.col-sm-12.col-12 {
    margin-top: -165px;
    width: 97%;
}
  .header__content {
    margin-top: -67px;
    width: 100%;
  }
}
@media (max-width: 576px) {
    .header {
    position: relative;
    width: 100%;
    height: calc(127vh + 88px);
    top: 0px;
  }
  .header__content {
    text-align: left;
    margin-top: -70px;
    width: 100%;
  }

  .boxes {
    position: relative;
    width: 97%;
    margin-top: -30%;
  }
  .box { 
    width: 100%
  }
}
